<%! page_type="guide" %>\
<%inherit file="/base.tmpl"/>
<%block name="details">
  <synopsis>
    <title>Hierarchy</title>
    <tree>
% for class_ in formatter.get_class_hierarchy(node):
      <item>
        <code>${class_.namespace.name}.${class_.name}</code>
% endfor
% for class_ in formatter.get_class_hierarchy(node):
      </item>
% endfor
    </tree>
  </synopsis>
</%block>
<%block name="links">
  <links type="topic" ui:expanded="yes"
         api:type="function" api:mime="${formatter.mime_type}"
         groups="method" style="linklist">
    <title>Methods</title>
  </links>
  <links type="topic" ui:expanded="yes"
         api:type="function" api:mime="${formatter.mime_type}"
         groups="function" style="linklist">
    <title>Functions</title>
  </links>
  <links type="topic" ui:expanded="yes" groups="property" style="linklist">
    <title>Properties</title>
  </links>
  <links type="topic" ui:expanded="yes" groups="signal" style="linklist">
    <title>Signals</title>
  </links>
  <links type="topic" ui:expanded="yes" groups="vfunc" style="linklist">
    <title>Virtual functions</title>
  </links>
  <links type="topic" ui:expanded="yes" groups="#first #default #last" style="linklist">
    <title>Other</title>
  </links>
</%block>
