<%! page_type="topic" %>\
<?xml version="1.0"?>
<page id="${page_id}"
      type="${self.attr.page_type}"
      style="${page_style}"
      xmlns="http://projectmallard.org/1.0/"
      xmlns:api="http://projectmallard.org/experimental/api/"
      xmlns:ui="http://projectmallard.org/experimental/ui/">
  <info>
    <%block name="info">
      <link type="guide" xref="index"/>
    </%block>
  </info>
  <title><%block name="title">${formatter.format_page_name(node)}</%block></title>
  <%block name="content">
    ${formatter.format(node, node.doc)}
  </%block>
  <%def name="since_version()">
    % if node.version:
    <p>Since ${node.version}</p>
    % endif
  </%def>
</page>
