<!DOCTYPE refentry PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
          "http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd" [
    <!ENTITY % local.common.attrib "xmlns:xi  CDATA  #FIXED 'http://www.w3.org/2003/XInclude'">
    <!ENTITY version SYSTEM "version.xml">
]>
<book xml:id="${node.name}" xmlns="http://docbook.org/ns/docbook" version="5.0">
  <title>%{node.name} Documentation</title>

  % for node in formatter.get_children(node):
    % if formatter.should_render_node(node):
      ${writer.render_child(child)}
    % endif
  % endfor
</book>
