stages:
  - build

image: registry.gitlab.gnome.org/gnome/gobject-introspection:v1

cache:
  paths:
    - _ccache/

fedora-x86_64-meson-python3:
  stage: build
  variables:
    CCACHE_BASEDIR: "${CI_PROJECT_DIR}"
    CCACHE_DIR: "${CI_PROJECT_DIR}/_ccache"
  script:
    - meson --prefix /usr --libdir /usr/lib64 --buildtype debug -Dcairo=true -Dpython=python3 _build .
    - cd _build
    - ninja
    - meson test --print-errorlogs --suite=gobject-introspection --no-suite=glib
    - cd ..
    - python3 -m pip install --user flake8
    - python3 -m flake8
  except:
    - tags
  artifacts:
    when: on_failure
    name: "gi-_${CI_COMMIT_REF_NAME}"
    paths:
      - "${CI_PROJECT_DIR}/_build/meson-logs"

fedora-x86_64-meson-python2:
  stage: build
  variables:
    CCACHE_BASEDIR: "${CI_PROJECT_DIR}"
    CCACHE_DIR: "${CI_PROJECT_DIR}/_ccache"
  script:
    - meson --prefix /usr --libdir /usr/lib64 --buildtype debug -Dcairo=true -Dpython=python2 _build .
    - cd _build
    - ninja
    - meson test --print-errorlogs --suite=gobject-introspection --no-suite=glib
    - cd ..
    - python2 -m pip install --user flake8
    - python2 -m flake8
  except:
    - tags
  artifacts:
    when: on_failure
    name: "gi-_${CI_COMMIT_REF_NAME}"
    paths:
      - "${CI_PROJECT_DIR}/_build/meson-logs"

fedora-x86_64-autotools-python2:
  stage: build
  variables:
    CCACHE_BASEDIR: "${CI_PROJECT_DIR}"
    CCACHE_DIR: "${CI_PROJECT_DIR}/_ccache"
    CFLAGS: "-Werror"
  script:
    - sed -i 's|\[glib-2\.0 >= [0-9.]*\]|[glib-2.0 >= 1.0]|' configure.ac
    - ./autogen.sh --with-python=python2
    - make -j4
    - make check
    - python2 -m pip install --user flake8
    - make check.quality
  artifacts:
    when: on_failure
    name: "gi-_${CI_COMMIT_REF_NAME}"
    paths:
      - "${CI_PROJECT_DIR}/_build/meson-logs"

fedora-x86_64-autotools-python3:
  stage: build
  variables:
    CCACHE_BASEDIR: "${CI_PROJECT_DIR}"
    CCACHE_DIR: "${CI_PROJECT_DIR}/_ccache"
    CFLAGS: "-Werror"
  script:
    - sed -i 's|\[glib-2\.0 >= [0-9.]*\]|[glib-2.0 >= 1.0]|' configure.ac
    - ./autogen.sh --with-python=python3
    - make -j4
    - make check
    - python3 -m pip install --user flake8
    - make check.quality
  artifacts:
    when: on_failure
    name: "gi-_${CI_COMMIT_REF_NAME}"
    paths:
      - "${CI_PROJECT_DIR}/_build/meson-logs"

msys2-mingw32-python3:
  stage: build
  tags:
    - win32
  variables:
    MSYSTEM: "MINGW32"
    CHERE_INVOKING: "yes"
  script:
    - C:\msys64\usr\bin\pacman --noconfirm -Syyuu --ask 20
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/test-msys2.sh"
  artifacts:
    when: on_failure
    name: "gi-_%CI_COMMIT_REF_NAME%"
    paths:
      - _build/meson-logs

vs2017-x64-python3:
  stage: build
  tags:
    - win32
  script:
    - .gitlab-ci/test-msvc.bat
  artifacts:
    when: on_failure
    name: "gi-_%CI_COMMIT_REF_NAME%"
    paths:
      - _build/meson-logs
