# Standard C/Automake goo
.deps
.libs
*.typelib
*.la
*.lo
*.o
*.pyc
*.stamp
*~
Makefile
Makefile.in
aclocal.m4
gtk-doc.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.win32
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
INSTALL
install-sh
libtool
ltmain.sh
missing
stamp-h1
ylwrap
py-compile
omf.make
xmldocs.make
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/gtk-doc.m4
GIRepository-2.0.gir
GLib-2.0.gir
GModule-2.0.gir
GObject-2.0.gir
Gio-2.0.gir
cmph-bdz-test
gi-dump-types
g-ir-annotation-tool
g-ir-compiler
g-ir-doc-tool
g-ir-generate
g-ir-scanner
gir/cairo-1.0.gir
glib-print
gobject-introspection-1.0.pc
gobject-introspection-no-export-1.0.pc
gthash-test
scannerlexer.c
scannerparser.c
scannerparser.h
test-driver
tests/Everything-1.0.gir
tests/GIMarshallingTests-1.0.gir
tests/everything-stamp.h
tests/everything.c
tests/everything.h
tests/offsets/gitestoffsets.c
tests/repository/gitestrepo
tests/repository/gitestthrows
tests/repository/gitypelibtest
tests/scanner/Bar-1.0.gir
tests/scanner/GetType-1.0.gir
tests/scanner/GtkFrob-1.0.gir
tests/scanner/Headeronly-1.0.gir
tests/scanner/Regress-1.0.gir
tests/scanner/SLetter-1.0.gir
tests/scanner/Utility-1.0.gir
tests/scanner/WarnLib-1.0.gir
tests/scanner/barapp
tests/doctool/DocExamples-1.0.gir
tests/offsets/Offsets-1.0.gir
tests/offsets/gitestoffsets
tests/offsets/offsets.compiled
tests/offsets/offsets.introspected
tests/doctool/DocExamples-1.0-C
tests/doctool/DocExamples-1.0-Python
tests/*/*.log
tests/*/*.trs
.make-check-passed

# tarballs
*.tar.xz

# Generated Visual Studio project files
build/win32/vs10/cmph.vcxproj
build/win32/vs10/cmph.vcxproj.filters
build/win32/vs10/gir.props
build/win32/vs10/g-ir-compiler.vcxproj
build/win32/vs10/g-ir-compiler.vcxproj.filters
build/win32/vs10/girepository.vcxproj
build/win32/vs10/girepository.vcxproj.filters
build/win32/vs9/cmph.vcproj
build/win32/vs9/gir.vsprops
build/win32/vs9/g-ir-compiler.vcproj
build/win32/vs9/girepository.vcproj

#yelp-build
*.html
C.css
jquery.js
jquery.syntax.js
jquery.syntax.core.js
jquery.syntax.brush.python.js
jquery.syntax.layout.yelp.js
yelp.js

#GTK-Doc output
docs/reference/html
docs/reference/xml
docs/reference/*.bak
docs/reference/gtkdoc-check.log
docs/reference/gtkdoc-check.test
docs/reference/gtkdoc-check.trs
docs/reference/test-suite.log
docs/reference/gi.args
docs/reference/gi.hierarchy
docs/reference/gi.interfaces
docs/reference/gi.prerequisites
docs/reference/gi.signals
docs/reference/gi.types
docs/reference/gi-decl.txt
docs/reference/gi-decl-list.txt
docs/reference/gi-undeclared.txt
docs/reference/gi-undocumented.txt
docs/reference/gi-unused.txt
docs/reference/version.xml

#Shinx documentation output
docs/giscanner/_build/*

#g-ir-doc-tool tests
*.page
!tests/scanner/*-expected/*.page
*-sections.txt
!tests/scanner/*-sections-expected.txt
