stages:
  - build
  - deploy

image: registry.gitlab.gnome.org/gnome/gobject-introspection:v4

cache:
  paths:
    - _ccache/

fedora-x86_64-meson:
  stage: build
  variables:
    CCACHE_BASEDIR: "${CI_PROJECT_DIR}"
    CCACHE_DIR: "${CI_PROJECT_DIR}/_ccache"
    CFLAGS: "-Werror"
  script:
    - meson --prefix /usr --libdir /usr/lib64 --buildtype debug -Dgtk-doc=true -Dcairo=true -Dpython=python3 _build .
    - cd _build
    - ninja
    - meson test --print-errorlogs --suite=gobject-introspection --no-suite=glib
    - ninja gi-doc
    - cd ..
    - mkdir -p public
    - mv _build/docs/reference/html/ public/girepository/
    - python3 -m pip install --user flake8
    - python3 -m flake8 --count
  except:
    - tags
  artifacts:
    when: always
    name: "gi-_${CI_COMMIT_REF_NAME}"
    paths:
      - "${CI_PROJECT_DIR}/_build/meson-logs"
      - public

fedora-x86_64-autotools:
  stage: build
  variables:
    CCACHE_BASEDIR: "${CI_PROJECT_DIR}"
    CCACHE_DIR: "${CI_PROJECT_DIR}/_ccache"
    CFLAGS: "-Werror"
  script:
    - sed -i 's|\[glib-2\.0 >= [0-9.]*\]|[glib-2.0 >= 1.0]|' configure.ac
    - mkdir _build
    - cd _build
    - ../autogen.sh --with-python=python3 --enable-gtk-doc --enable-doctool
    - make -j4
    - make check
    - python3 -m pip install --user flake8
    - make check.quality
  artifacts:
    when: on_failure
    name: "gi-_${CI_COMMIT_REF_NAME}"
    paths:
      - "_build/*.log"
      - "_build/*/*.log"
      - "_build/*/*/*.log"
      - "_build/*/*/*/*.log"

msys2-mingw32-meson:
  stage: build
  tags:
    - win32
  variables:
    MSYSTEM: "MINGW32"
    CHERE_INVOKING: "yes"
  script:
    - C:\msys64\usr\bin\pacman --noconfirm -Syyuu --ask 20
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/test-msys2-meson.sh"
  artifacts:
    when: on_failure
    name: "gi-_%CI_COMMIT_REF_NAME%"
    paths:
      - _build/meson-logs

msys2-mingw32-autotools:
  stage: build
  tags:
    - win32
  variables:
    MSYSTEM: "MINGW32"
    CHERE_INVOKING: "yes"
  script:
    - C:\msys64\usr\bin\pacman --noconfirm -Syyuu --ask 20
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/test-msys2-autotools.sh"
  artifacts:
    when: on_failure
    name: "gi-_%CI_COMMIT_REF_NAME%"
    paths:
      - _build/meson-logs

vs2017-x64-meson:
  stage: build
  tags:
    - win32
  script:
    - .gitlab-ci/test-msvc.bat
  artifacts:
    when: on_failure
    name: "gi-_%CI_COMMIT_REF_NAME%"
    paths:
      - _build/meson-logs

pages:
  stage: deploy
  dependencies:
    - fedora-x86_64-meson
  script:
   - echo
  artifacts:
    paths:
      - public
  only:
    - master
