<%inherit file="mallard-base.tmpl"/>
<%block name="info">
    <link type="guide" xref="${namespace.name}.${node.parent.name}" group="property"/>
    <title type="link" role="topic">${node.name}</title>
</%block>
