<%inherit file="mallard-base.tmpl"/>
<%block name="info">
    <link type="guide" xref="${namespace.name}.${node.parent.name}" group="vfunc"/>
</%block>
<%block name="content">
<synopsis><code mime="text/x-csrc">
</code></synopsis>
${parent.content()}
% if node.parameters or node.retval:
<table>
% for arg, ix in zip(node.parameters, range(len(node.parameters))):
<tr>
<td><p>${arg.argname} :</p></td>
<td>${formatter.format(node, arg.doc)}</td>
</tr>
% endfor
% if node.retval:
<tr>
<td><p>Returns :</p></td>
<td>${formatter.format(node, node.retval.doc)}</td>
</tr>
% endif
</table>
% endif
${self.since_version()}
</%block>
