<?xml version="1.0"?>
<page id="${namespace.name}.${node.name}"
      type="topic"
      style="${page_style}"
      xmlns="http://projectmallard.org/1.0/"
      xmlns:ui="http://projectmallard.org/experimental/ui/">
  <info>
  </info>
  <title>${formatter.format_page_name(node)}</title>
${formatter.format(node, node.doc)}
</page>
