<?xml version="1.0"?>
<page id="${node.namespace.name}.${node.name}"
      type="guide"
      style="${page_style}"
      xmlns="http://projectmallard.org/1.0/"
      xmlns:api="http://projectmallard.org/experimental/api/"
      xmlns:ui="http://projectmallard.org/experimental/ui/">
  <info>
    <link type="guide" xref="index" group="class"/>
  </info>
  <title>${formatter.format_page_name(node)}</title>
${formatter.format(node, node.doc)}
% if node.version:
<p>Since ${node.version}</p>
% endif
  <synopsis ui:expanded="no">
    <title>Hierarchy</title>
    <tree>
      <item>
        <code>GObjectObject</code>
      </item>
    </tree>
  </synopsis>
  <links type="topic" ui:expanded="yes"
         api:type="function" api:mime="text/x-csrc"
         groups="constructor" style="linklist">
    <title>Constructors</title>
  </links>
  <links type="topic" ui:expanded="yes"
         api:type="function" api:mime="text/x-csrc"
         groups="method" style="linklist">
    <title>Methods</title>
  </links>
  <links type="topic" ui:expanded="yes"
         api:type="function" api:mime="text/x-csrc"
         groups="function" style="linklist">
    <title>Functions</title>
  </links>
  <links type="topic" ui:expanded="yes" groups="property" style="linklist">
    <title>Properties</title>
  </links>
  <links type="topic" ui:expanded="yes" groups="signal" style="linklist">
    <title>Signals</title>
  </links>
  <links type="topic" ui:expanded="yes" groups="#first #default #last" style="linklist">
    <title>Other</title>
  </links>
</page>
