<?xml version="1.0"?>
<page id="${node.namespace.name}.${node.name}"
      type="guide"
      style="class"
      xmlns="http://projectmallard.org/1.0/"
      xmlns:ui="http://projectmallard.org/experimental/ui/">
  <info>
    <link type="guide" xref="index" group="class"/>
  </info>
  <title>${node.namespace.name}.${node.name}</title>
  <synopsis ui:expanded="no">
    <title>Hierarchy</title>
    <tree>
      <item>
        <code>GObject.Object</code>
      </item>
    </tree>
  </synopsis>
  <links type="topic" ui:expanded="yes" groups="constructor">
    <title>Constructors</title>
  </links>
  <links type="topic" ui:expanded="yes" groups="method">
    <title>Methods</title>
  </links>
  <links type="topic" ui:expanded="yes" groups="property">
    <title>Properties</title>
  </links>
  <links type="topic" ui:expanded="yes" groups="signal">
    <title>Signals</title>
  </links>
  <links type="topic" ui:expanded="yes" groups="#first #default #last">
    <title>Other</title>
  </links>
</page>
