<?xml version="1.0"?>
<page id="${node.namespace.name}.${node.name}"
      type="topic"
      style=""
      xmlns="http://projectmallard.org/1.0/"
      xmlns:ui="http://projectmallard.org/experimental/ui/">
  <info>
  </info>
  <title>${node.namespace.name}.${node.name}</title>
${format(node.doc)}</page>
