<%inherit file="/base.tmpl"/>
<%block name="synopsis">
<synopsis><code mime="text/x-gjs">
function vfunc_${node.name}(\
${', '.join('%s:%s' % (arg.argname, formatter.format_type(arg.type)) for arg in formatter.get_parameters(node))}\
):${formatter.format_type(node.retval.type)} {
}
</code></synopsis>
</%block>
<%block name="details">
% if formatter.get_parameters(node) or node.retval:
<dl>
% for arg in formatter.get_parameters(node):
<dt><p>${arg.argname} :</p></dt>
<dd>${formatter.format(node, arg.doc)}</dd>
% endfor
% if node.retval and node.retval.type.ctype != 'void':
<dt><p>Returns :</p></dt>
<dd>${formatter.format(node, node.retval.doc)}</dd>
% endif
</dl>
% endif
</%block>
