<%inherit file="mallard-base.tmpl"/>
<%block name="info">
    <link type="guide" xref="${namespace.name}.${node.parent.name}" group="property"/>
    <title type="link" role="topic">${node.name}</title>
</%block>
<%block name="content">
<synopsis><code mime="text/x-python">
"${node.name}"             ${formatter.format_type(node.type)}                : ${formatter.format_property_flags(node)}
</code></synopsis>
${parent.content()}
</%block>
