<%inherit file="mallard-base.tmpl"/>
<%block name="content">
<synopsis><code mime="text/x-python">
% if len(node.parameters) != 0:
@accepts(\
${', '.join((formatter.format_type(arg.type) for arg in node.parameters))}\
)
% endif
@returns(${formatter.format_type(node.retval.type) | x})
def \
do_${node.name}(self, \
${', '.join((arg.argname for arg in node.parameters))}\
):
</code></synopsis>
${parent.content()}

% if node.parameters or node.retval:
<table>
% for arg, ix in zip(node.parameters, range(len(node.parameters))):
<tr>
<td><p>${arg.argname} :</p></td>
<td>${formatter.format(node, arg.doc)}</td>
</tr>
% endfor
% if node.retval and node.retval.type.ctype != 'void':
<tr>
<td><p>Returns :</p></td>
<td>${formatter.format(node, node.retval.doc)}</td>
</tr>
% endif
</table>
% endif
${self.since_version()}
</%block>
