<?xml version="1.0"?>
<page id="index"
      type="guide"
      style="${page_style}"
      xmlns="http://projectmallard.org/1.0/"
      xmlns:ui="http://projectmallard.org/experimental/ui/">
  <info>
  </info>
  <title>${node.name} Documentation</title>
  <links type="topic" ui:expanded="yes" groups="class">
    <title>Classes</title>
  </links>
  <links type="topic" ui:expanded="yes" groups="function">
    <title>Functions</title>
  </links>
  <links type="topic" ui:expanded="yes" groups="#first #default #last">
    <title>Other</title>
  </links>
</page>
