<%inherit file="/base.tmpl"/>
<%block name="synopsis">
<synopsis><code mime="text/x-python">
% if node.parameters:
@accepts(\
${', '.join((formatter.format_type(arg.type) for arg in node.parameters))}\
)
% endif
@returns(${formatter.format_type(node.retval.type) | x})
def \
do_${node.name}(self, \
${', '.join((arg.argname for arg in node.parameters))}\
):
</code></synopsis>
</%block>
<%block name="details">
% if node.parameters or node.retval:
<dl>
% for arg in node.parameters:
<dt><p>${arg.argname} :</p></dt>
<dd>${formatter.format(node, arg.doc)}</dd>
% endfor
% if node.retval and node.retval.type.ctype != 'void':
<dt><p>Returns :</p></dt>
<dd>${formatter.format(node, node.retval.doc)}</dd>
% endif
</dl>
% endif
</%block>
